---
title: Resources

groups:
  'Readings and Statistical Reports':
    - title: 'Achievement Gaps: How Hispanic and White Students in Public Schools Perform in Mathematics and Reading on the National Assessment of Educational Progress (NAEP), by the National Center for Education Statistics (NCES).'
      url: http://nces.ed.gov/nationsreportcard/pdf/studies/2011459.pdf
      desc: This is the first report to present comprehensive national and state data on the performance of Latino students in comparison to their White peers. The report provides detailed information on the achievement gap between Hispanic and White public school students in 4th and 8th grades at the national and state levels since the 1990s. It also describes how those gaps have changed over time and looks at the performance of English Language Learners (ELL) versus those who are non-ELL.  
    
    - title: 'Investing in Higher Education for Latinos: Payoffs for State Economie'    
      url:   http://www.ncsl.org/documents/educ/PayoffsForStateEconomies.pdf
      desc:  A report that focuses on how improving college completion rates for Latino students can be a catalyst for stronger economies, with examples of states that are ensuring Latinos have the education and training to find jobs in high-demand, high-paying fields and become positive contributors to the economy.
      
    - title: 'Investing in Higher Education for Latinos: Trends in Latino College Access and Success'
      url:   http://www.ncsl.org/Default.aspx?TabID=23299
      desc:  The National Conference of State Legislators, provides state-by-state demographic and education-related data. This report offers an overview of achievement gaps in each state and highlights the areas that could be targeted to improve Latino student access and success
      
    - title: 'New Americans in the Old Dominion'
      url:   http://www.immigrationpolicy.org/just-facts/new-americans-old-dominion-state
      desc:  An informational section on the American Immigration Policy Center’s website highlights facts about Latinos in Virginia, including their economic power and the impact they have on the state’s economy. This data was updated in July 2010.
      
    - title: 'Pew Hispanic Center: Statistical profiles of the Latino and foreign-born populations in the U.S. (2007)'
      url:   http://pewhispanic.org/factsheets/factsheet.php?FactsheetID=46
      desc:  The Pew Hispanic Center is a project of the Pew Research Center, a nonpartisan "fact tank" that provides information on the issues, attitudes and trends shaping America and the world. It is supported by The Pew Charitable Trusts.
    
    - title: "Pew Hispanic Center: Virginia's Demographic Profile of Hispanics, 2007"
      url:   http://pewhispanic.org/states/?stateid=VA
      desc:  This profile contains demographic and economic facts about the Hispanic and non-Hispanic populations in the state of Virginia. All analyses are from Pew Hispanic Center tabulations of the 1% Integrated Public Use Microdata Series (IPUMS) sample of the 2009 American Community Survey.
      
    - title: "The College Payoff: Education, Occupations, and Lifetime Earnings,"
      url:   http://cew.georgetown.edu/collegepayoff
      desc:  A report by Georgetown University’s Center on Education and the Workforce. The report examines the value of a college degree along with other factors that might influence an individual's potential earnings. Examination of lifetime earnings for all education levels and earnings by occupation, age, race/ethnicity and gender clearly concludes that a college degree is the key to economic opportunity, confirming that those with a college degree will have substantially higher earnings than those without.
      
    - title: "The Mexican-American Boom: Births Overtake Immigration"
      url:   http://pewhispanic.org/files/reports/144.pdf
      desc:  A report by the Pew Research Center’s Social & Demographic Trends Project, addresses the change that permeates the entire U.S. Latino population, but that it is especially evident among Mexican-Americans because they are the largest group within the Latino population. At 31.8 million in 2010, Mexican-Americans comprise 63% of the U.S. Hispanic population and 10% of the total U.S. population.
      
    - title: "Wealth Gaps Rise to Record Highs between Whites, Blacks and Hispanics"
      url:   http://pewsocialtrends.org/2011/07/26/wealth-gaps-rise-to-record-highs-between-whites-blacks-hispanics/
      desc:  A report by the Pew Research Center’s Social & Demographic Trends Project, deals with how the economic crisis has affected Latino families concludes that the median household wealth among Hispanics fell from $18,359 in 2005 to $6,325 in 2009. This percentage drop---- 66%---- was the largest for any racial or ethnic group in the nation.

    - title: U.S. Unauthorized Immigration Flows Are Down Sharply Since Mid-Decade
      url:   http://pewhispanic.org/reports/report.php?ReportID=126
      desc:  A report by the Pew Hispanic Trust, reveals that the estimated number of undocumented immigrants in the country fell from approximately 12 million to 11 million between 2007 and 2009. The largest declines were in Florida, Nevada and Virginia, where numbers declined by 65,000 individuals.

  'Organizations':
    - title: Cuban American National Council
      url:   http://www.cnc.org/
      desc:  CNC is a non-profit organization providing human services to persons in need from all racial and ethnic groups. CNC assists individuals to become self-reliant and builds bridges among America’s diverse communities.
      
    - title: Hispanic Association of Colleges and Universities
      url:   http://www.hacu.net/
      desc:  HACU represents more than 400 colleges and universities committed to Hispanic higher education success in the U.S., Puerto Rico, Latin America, Spain and Portugal. Although our member institutions in the U. S. represent less than 10% of all higher education institutions nationwide, together they are home to more than two-thirds of all Hispanic college students. HACU is the only national educational association that represents Hispanic-Serving Institutions (HSIs).
      
    - title: League of United Latin American Citizens
      url:   http://www.lulac.org/
      desc:  Annually, LULAC engages its network of 135,000 community volunteers, 880 local councils, 60 community technology centers and 15 LULAC National Educational Service Centers to empower Hispanic families through direct service programs and advocacy in 34 states, the District of Columbia and Puerto Rico.
      
    - title: MANA - A National Latina Organzation
      url:   http://www.hermana.org/
      desc:  MANA used to stand for the Mexican American National Association, named when it was originally founded in 1974 by Mexican-American women. In January 1994, members voted to become MANA, A National Latina Organization, to reflect the growing diversity of its membership. Today, MANA is the largest national pan-Latina membership organization. MANA empowers Latinas through leadership development, community service, and advocacy. MANA includes all Latinas of Mexican, Puerto Rican, Dominican, Cuban, Central American, South American, and Spanish decent.
      
    - title: Mexican-American Legal Defense and Educational Fund
      url:   http://www.maldef.org/
      desc:  Founded in 1968, MALDEF is the nation’s leading Latino legal civil rights organization. Often described as the “law firm of the Latino community”, MALDEF promotes social change through advocacy, communications, community education, and litigation in the areas of education, employment, immigrant rights, and political access.
      
    - title: NALEO- National Association of Latin@ Elected Officials
      url:   http://www.naleo.org/
      desc:  The National Association of Latino Elected and Appointed Officials (NALEO) and the NALEO Educational Fund, are the nation’s leading nonprofit organization that facilitates the full participation of Latinos in the American political process, from citizenship to public service. The NALEO Educational Fund is a nonpartisan 501 (c)(3) organization first established in 1981, we carry out our mission through programs that integrate Latinos fully into American political society, provide professional development opportunities and technical assistance to the nation’s more than 6,000 Latino elected and appointed officials, and monitor and conduct advocacy on issues important to the Latino community and our political participation.
      
    - title: National Association of Hispanic Publications
      url:   http://www.nahp.org/
      desc:  The National Association of Hispanic Publications, Inc. (NAHP, Inc.) is a nonprofit, non-partisan trade advocacy organization representing the leading Spanish language publications serving 41 markets in 39 states, the District of Columbia and Puerto Rico, with a combined circulation of over 23 million.
      
    - title: National Community for Latino Leadership
      url:   http://www.latino-leadership.org/
      desc:  Founded in 1968, MALDEF is the nation’s leading Latino legal civil rights organization. Often described as the “law firm of the Latino community”, MALDEF promotes social change through advocacy, communications, community education, and litigation in the areas of education, employment, immigrant rights, and political access.
      
    - title: National Council of La Raza
      url:   http://www.nclr.org/
      desc:  The National Council of La Raza (NCLR)—the largest national Hispanic civil rights and advocacy organization in the United States—works to improve opportunities for Hispanic Americans.  Through its network of nearly 300 affiliated community-based organizations, NCLR reaches millions of Hispanics each year in 41 states, Puerto Rico, and the District of Columbia.  Founded in 1968, NCLR is a private, nonprofit, nonpartisan, tax-exempt organization headquartered in Washington, DC.  NCLR serves all Hispanic subgroups in all regions of the country and has regional offices in Chicago, Los Angeles, New York, Phoenix, and San Antonio.
      
    - title: National Hispanic Leadership Agenda
      url:   http://www.nationalhispanicleadership.org/
      desc:  The National Hispanic Leadership Agenda (NHLA) is a nonpartisan association of major Hispanic national organizations and distinguished Hispanic leaders from all over the nation. NHLA’s mission calls for unity among Latinos around the country to provide the Hispanic community with greater visibility and a clearer, stronger influence in our country’s affairs. NHLA brings together Hispanic leaders to establish policy priorities that address, and raise public awareness of, the major issues affecting the Latino community and the nation as a whole.
      
    - title: National Hispanic Leadership Institute
      url:   http://www.nhli.org/
      desc:  The National Hispana Leadership Institute (NHLI), a national 501(c )3 organization based in Washington, DC, was established in 1987 to address the underrepresentation of Latinas in the corporate, nonprofit and political arenas. NHLI’s mission is to develop Hispanas as ethical leaders through training, professional development, relationship building and community activism.
      
    - title: National Institute for Latino Policy
      url:   http://www.latinopolicy.org/
      desc:  The National Institute for Latino Policy (NiLP) (formerly the Institute for Puerto Rican Policy) is a 501(c)(3) nonprofit and nonpartisan policy center established in 1982. One of the leading think tanks in the Latino community utilizing an action research model, NiLP is involved in a wide range of policy issues affecting the Latino community.
      
    - title: New America Alliance
      url:   http://www.naaonline.org/
      desc:  The NAA membership is comprised of over 100 prominent American Latino entrepreneurs and business leaders who are committed to giving back to the community. While committing substantial financial resources to the organization, our members also commit considerable time, provide access to their networks and exert their influence to achieve the goals of the organization. We aggregate the NAA members' success, experience, relationships and passion to give back as we promote the advancement of the Latino community and prosperity for all in our nation. NAA members leverage their influence to promote Latino leadership in entrepreneurship, corporate America, and public service; increase Latino access and control of capital; and invest in human capital to improve educational achievement and develop future Latino business leaders.
      
    - title: Puerto Rican Federal Affairs Administration
      url:   http://www.prfaa.com/
      desc:  The Puerto Rico Federal Affairs Administration represents the Government of Puerto Rico before federal, state, and local governments, promotes Governor Fortuño's economic and public policy initiatives to achieve a better quality of life for the four million U.S. citizens of Puerto Rico, and advises local government agencies and municipalities on issues of interest to Puerto Rico before the federal government.
      
    - title: Texas Association of Chicanos en Higher Education
      url:   http://www.tache.org/
      desc: Texas association of chicanos in higher education, another non-profit similar to VALHEN.
      
    - title: US Hispanic Chamber of Commerce
      url:   http://www.ushcc.com/
      desc: United States Hispanic Chamber of Commerce (USHCC) is a structured organization aimed at developing a business network that would provide the Hispanic community with cohesion and strength. Since its inception, the USHCC has worked towards bringing the issues and concerns of the nation’s almost 3 million Hispanic-owned businesses to the forefront of the national economic agenda.
      
  'Other':
    - title: A Portrait of Low-Income Adults in Education
      url:   http://www.ihep.org/publications/publications-detail.cfm?id=145
      desc:  The following report states that low-income students (large numbers of our Latino students fall in this category) are over-represented in the for-profit college arena. According to the publisher of the report, the Institute of Higher Education Policy (IHEP) in Washington, DC, low-income students (between 18 and 26 years old, with a total household income near or below the federal poverty level) are “likely to be overrepresented at for-profit institutions and are likely to be underrepresented at public and private nonprofit four-year institutions.” What’s more, according to this research, in 2008, the percentage of Hispanic first-year college students living in poverty was 61% for Latinas and 54% for Latinos!
 
---

p.hide-for-medium
h1.hide-for-small Resources

select.show-for-small data-tab-proxy='dl.tabs'
  - current_page.data.groups.each_pair do |title, entries|
      option value="##{title.underscore.gsub(' ', '_')}" #{title}

dl.tabs.hide-for-small data-tab=''
  - current_page.data.groups.each_pair do |title, entries|
    dd class="#{'active' if title == 'Readings and Statistical Reports'}"
      a href="##{title.underscore.gsub(' ', '_')}" #{title}

.tabs-content
  - current_page.data.groups.each_pair do |title, entries|
    div id="#{title.underscore.gsub(' ', '_')}" class="#{'active' if title == 'Readings and Statistical Reports'} content"
      ul.no-bullet
        - entries.each do |item|
          li.panel 
            a href="#{item.url}" #{item.title}
            blockquote #{item.desc}

